/*
Styles added by Mukund March 2023.
*/



$guidesDarkBlue: #173a86;
$guidesMidBlue: #8cb5e2;
$guidesLightBlue: #b7e2fa;

$browniesBlue: #0067b2;
$browniesLightBlue: #44bdee;
$browniesYellow: #ffc80a;


$rainbowsBlue: #218ccc;
$rainbowsLightBlue: #96d3f5;

$girlGuidingDarkBlue: #161b4e;
$girlGuidingMidBlue: #007bc4;
$girlGuidingLightBlue: #00a7e5;

$rangersBlue: #4ea5dc;


//----------------------------------------------------

// To position the mapbox logo:
.mapboxgl-ctrl-logo{
  position: relative;
  left: 90px;
                   }

// To position the div that contains the mapbox logo:
.mapboxgl-ctrl-bottom-left{
   border: red 1.5px outset ;
  width: 250px;  
                          }




// To size the div that contains the mapbox "i" symbol:
.mapboxgl-ctrl-bottom-right{
  width: 200px;
   border: red 1.5px outset ;
                           }

// to position the mapbox "i" symbolL
.mapboxgl-ctrl-attrib{
  position: relative;
  right: 90px;


}



// Buttons

/* class to position that button in <ChallengesNearMe/>
that user clicks to take her to map of her area. */
.positionButton{
position: absolute;
top: 10px;
left: 10px;
z-index: 10;
}

/* the imgs for the icons on the landing page 
and for the home icon and plus menu icons. */
.iconImgs{
  height: 100%;
  width: 100%;
  object-fit: cover;
         }


/* the class for the <LandingPage/> buttons 
that makes them opaque and gives them
hover and depress effects. */
.largeButton1New{
    
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
          
  
  width: fit-content;
  height: 25px;
  padding-left: 3px;
  padding-right: 3px;
  
  border: $guidesLightBlue 1.5px outset ;
  border-radius: 5px 5px 5px 5px ;
  
  background-color: $girlGuidingLightBlue;
  box-shadow: rgb(5, 5, 5) 1px 1px 5px;
  
  opacity: 1;
  pointer-events: auto;
            }
          
.largeButton1New:hover{ 
  background-color: $guidesLightBlue;
                }  

/*Now a class code gives to buttons 
when the user clicks them */
.largeButton1New:active{   
  transform: translateY(4px);
  transform: translateX(4px);
  box-shadow: black 1px 1px 1px;
                 } 


/* the class for the <LandingPage/> buttons 
that makes them opaque but gives them no
hover or depress effects. */
.largeButtonInoperable{
    
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
  width: fit-content;
  height: 25px;
  padding-left: 3px;
  padding-right: 3px;
  
  border: none ;
  border-radius: 5px 5px 5px 5px ;
  
  background-color: $guidesLightBlue;
  box-shadow: none;
  
  opacity: 0.5;
  pointer-events: none;
                    }


/* the class for any button 
to make it disappear. */
.largeButtonDisappear{
opacity: 0;
pointer-events: none;

}


// The <p> for page headings
// for pages across the app
// fri9June23: need to the individual styles for 
// each page's header to this style:
.pageHeader{
  font-size: 26px;
  line-height: 26px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  color: $girlGuidingDarkBlue;

  position: absolute;
  top: 2vh;
  left: 5px;
  margin-bottom: 2vh;
                      }




//----------------------------------------------------            


// Styles to do with the RegionsList component
.regionsListAllEncompassingDiv{
  border-style: solid;
  border-width: 2px;
   border-color: #070707;  

width: 100%;
height: 100%;

z-index: 20;
                              }


// ------- styles to do with the challengesNearMe page -------  -------  ------- 

// For the div that contains the <p>s
// tha t make up the "Congratulations! ..."
// message:
.congratsTextContainer{
text-align: center;
width: fit-content;
height: fit-content;
                      }

// Two styles for the parts of the "Congratulations! ..." text
// in the <LocationModal?/>.
// First the headline:  
.congratsTextHeadline{
  font-family: 'Poppins';
  font-style: italic;
  font-weight: 300;
  font-size: 28px;
  line-height: 29px;
  color: $girlGuidingLightBlue
                    }

// Then the smaller text:  
.congratsTextSmall{
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 17px;
  color: $girlGuidingLightBlue
                    }






.challengesNearMeOuterContainerShow{
  position: absolute;
  left: 0px;
  top: 0px;
opacity: 1;  
z-index: 100;
                                    }

.challengesNearMeOuterContainerHide{
  position: absolute;
  left: 0px;
  top: 0px;
opacity: 0;  
z-index: -100;
                                    }

// To position the close button 
// in the Error modal for the 
// Challenges near me page:
.positionModalCloseButton{
position: absolute;
bottom: 40px;
right: 65px;
                          }




// ------- styles to do with the leader board page -------  -------  ------- 

// The all-encompassing div:
.leaderboardPageOuterContainer{
  position: absolute;
  left: 0px;
  top: 0px; 

   height: 100vh;
   width: 100vw;
 
 border-style: solid;
 border-color: $browniesLightBlue;
 border-width: 5px;
 
 padding-top: 10px;
 padding-left: 2px;
 padding-right: 2px;
 padding-bottom: 20px;
 
 overflow-y:scroll;
    background-color: none;
 
   display: flex;
   flex-direction: column;
   justify-content: flex-start;
 align-items: center;

/*
 border-style: dotted;
  border-width: 6px;
   border-color: #06f3b8;  
*/
}


// The  div that contains:
// 1) a div containing the <p> 
// for text "Digital Safari 
// Leader Board" :
.leaderboardPageContainerOne{
/*  
  border-style: dotted;
  border-width: 2px;
   border-color: #f3df06;  
*/
width: 99%;
height: 10%;

}

// The div that contains the <p>
// for text "Digital Safari 
// Leader Board" :
.leaderBoardPageHeaderContainer{
  height: 35px;
  width: 95vw;
    
  border-bottom:$girlGuidingDarkBlue;
  border-top: #fff;
  border-left: #fff;
  border-right: #fff;
  border-style: solid;
  border-width: 2px;
  
  margin-bottom: 20px;

                              }


// The <p> for text "Leaderboard"
.leaderBoardPageHeader{
  font-size: 26px;
  line-height: 26px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  color: $girlGuidingDarkBlue;
                      }


// The  div that contains two divs:
// 1) a div containing the <p> Choose a County
// 2) a div containing the search field
.leaderboardPageContainerTwo{
  /*
  border-style: dotted;
  border-width: 2px;
   border-color: #1703f8;  
*/
width: 99%;
height: 85px;

z-index: 20;

margin-bottom: 30px; 


                            }


// The div that encloses 
// i) the <input/> that is the submit button
// for the form and 
// ii) the img of the magnifying glass:
.submitButtonEnclosingDiv{
  border-style: dotted;
  border-width: 1px;
   border-color: $browniesBlue; 

  /*
   background-color: #da60f2;
   */
   height: 35px;
   width: 35px;

   overflow: hidden
                         }

// The <input/> that is the submit button
// for the form:
.submitButton{
   height: 100%;
   width: 100%;

   position: relative;
   top: -120%;
   left: 0px;

   background-color: none;

   opacity: 0;
             }

// The <img/> that goes with the form's submit
// button: 
.magGlassImg{
width: 140%;
height: 140%;

position: relative;
top: -1%;
left: -20%;

            }


// For the <form/> element itself:
.formElement{

width: 100%;
height: 100%;

display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: center;



}



.searchFormOutermostContainer{
width: 100%;
height: 100%;

display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: center;

/*
border-style: double;
border-width: 6px;
border-color: #75f803; 
*/
}


.searchFormContainerOne{
  width: 100%;
  height: 97%;
  
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  
  box-shadow: 5px 5px 12px rgba(0, 0, 0, 0.15);

  padding: 7px;

  /*
  border-style: double;
  border-width: 6px;
   border-color: #03f8d7; 
  */
  }


// The div that contains the text <p>
// "Choose a County"
.searchFormTextContainer{
  /*
  border-style: dotted;
  border-width: 2px;
  border-color: #df08f7;  
*/
width: 100%;
height: 25%;


                             }


.searchFormSearchContainer{

  /*
  border-style: dotted;
  border-width: 6px;
   border-color: #f8d303;  
*/

width: 100%;
height: 55%;

/*
display: flex;
flex-direction: row;
justify-content: space-around;
align-items: center;
*/

                               }




.listBackground{
  background-color: $guidesMidBlue;
  // transition: height 5s linear 2s, width 5s ease-in 2s;
               }




// Two styles to apply conditionally to the 
// div that contains the dropdown list
// (which this app employs in the register modal 
// -- ie <LoginModal/> -- and <LeaderboardPage/>):

// 1) to make the div
// grow in height so that it shows all of the 
// dropdown list options:
.showDDlist{
  box-shadow: 5px 5px 12px rgba(0, 0, 0, 0.35);

  background-color: $guidesMidBlue;

  overflow-y: scroll;
  
  width: fit-content;
  height: fit-content;
  max-height: 120px;


  animation-name: makeDDlistGrow;
  animation-duration: 0.3s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
  
                 }

// 2) to make the div
// shrink in height to 0px so that it disappears:
.hideDDlist {
  animation-name: makeDDlistVanish;
  animation-duration: 0.3s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
            }

// A style the app uses for the dd list 
// in <LoginModal/> only:
.positionDDlistInLoginModal{
position: relative;
top: -30px;

width: 300px;
height: 5px;

overflow-y: visible;

z-index: 20;

/*
border: #000 1px solid;
*/

                 }

// The <p> for the error message that appears
// when an input fails validation: 
.registerErrorMessage{
  font-size: 14px;
  line-height: 15px;
  font-family: 'Poppins';
  font-style: italic;
  font-weight: 200;

  color: red;
  
  position: relative;
  top: -15px;
  left: 30px;

}







// The div that contains the text in <LoginModal/>
// that reads "Already registered? Please log in":
.positionFinalText{
position: relative;
top: 20px;
left: 50px;

/*
background-color: #009cac;
border: #000 1px solid;
*/

height: 20px;
width: fit-content;

z-index: 10;
                  }

// The <p> for the text in <LoginModal/>
// that reads "Already registered? Please log in":
.finalText{
  font-size: 14px;
  line-height: 15px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 200;

padding: 0px;
margin: 0px;

}


// Two animations for the dropdown list,
// one for the downward movement, one for the
// upward movement:
@keyframes makeDDlistGrow {
  0% {
    height: 0px;
  }

  80% {
    height: 200px;
  }


  100% {
    // height: 180px;
    height: fit-content;
    max-height: 180px;
  }
}

@keyframes makeDDlistVanish {
  0% {
    height: 180px;
    width: 45%
  }

  80% {
    height: 20px;
  }


  100% {
    height: 0px;
    width: 0%
  }
}



// For the <ul> that is the dropdown list
.countiesList{
  list-style-type: none;
    margin: 0;
    padding: 0;

    width: 200px;
    

    /*
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    */

             }

// The <p> for the text of each item
// of the dropdown list:
.regionsListText{
font-size: 14px;
line-height: 15px;

font-family: 'Poppins';
font-style: italic;
font-weight: 300;

color: rgb(0, 0, 0);

margin: 0px;
padding: 0px;

}

// For the div that goes in each <li>
// of the regions list that the user sees
// when she clicks in the search input field.
// This div contains the <p> of class 
// .regionsListText:
.regionsListItem{
background-color: $guidesLightBlue;
/*
border-style: solid;
border-width: 1px;
border-color: $browniesLightBlue;  
*/

width: 90%;
height: 40px;

display: flex;
flex-direction: column;
justify-content: center;
align-items: center;

padding: 0px;
margin: 2px;

z-index: 20;

animation-name: rotateDropdownItems;
animation-duration: 0.7s;
animation-fill-mode: forwards;
animation-timing-function: ease-in-out;
                }


.regionsListItem:hover{

  background-color: $girlGuidingLightBlue;

}



// Animation for the divs in
// the dropdown list:
@keyframes rotateDropdownItems {
  0% {
      transform: rotateX(120deg);
      // transform: rotateY(30deg)
  }
  70% {
      transform: rotateX(-30deg);
      // transform: rotateY(-13deg)
  }
  100% {
      transform: rotateX(0deg) ;
      // transform: rotateY(0deg) 
  }
}






// The input where the user types the 
// county name:
.countyInput{
background-color: $guidesLightBlue;

border-style: dotted;
border-width: 1px;
border-color: $browniesBlue; 

height: 35px;
width: 185px;


}


// The input's placeholder:
::placeholder {
  font-size: 14px;
  line-height: 15px;
  
  font-family: 'Poppins';
  font-style: italic;
  font-weight: 200;
  
  color: $browniesBlue;
  opacity: 0.5;
}




// The div that contains the div 
// that contains the leaderboard table
.leaderboardPageContainerThree{
  /*
  border-style: dotted;
  border-width: 5px;
   border-color: #032cf8;  
*/
width: 98%;
height: 60%;

box-shadow: 5px 5px 12px rgba(0, 0, 0, 0.15);


z-index: 1;
                              }


// The <p> that displays the 
// name of the county: 
.leaderboardPageCountyName{
  font-size: 25px;
  line-height: 26px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  color: $browniesBlue;

  margin: 0px;
}                              


.leaderboardTableOutermostContainer{
position: relative;
top: 5vh;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
align-items: center;

width: 100%;
height: 90%;

box-shadow: 5px 5px 12px rgba(0, 0, 0, 0.15);

/*
border-style: dotted;
  border-width: 2px;
   border-color: #f82403;  
*/
overflow-y: scroll;

}




.leaderBoardPageTableHeader{
  font-size: 15px;
  line-height: 16px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  color: $girlGuidingDarkBlue;
            }

.leaderBoardTableText{
  font-size: 13px;
  line-height: 15px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  color: rgb(0, 0, 0);
            }

.leaderboardPageTextContainer{
  border-style: dotted;
  border-width: 2px;
   border-color: #f82403;  
}

// The div that contains the table
// of the leaderboard page:
.leaderboardTableContainer{
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);

  overflow-y: auto;

  width: 98%;
  max-height: 50%;
} 



// The table of the leaderboard page: 
.leaderboardPageTable{

  width: 98%;
  height: 100%;

 
    border-collapse: collapse;
    margin: 25px 0;
                     }            


thead {
	background-color: $girlGuidingMidBlue;
	color: white;                     
}


// The three table headers (each a th):
.thRank {
  width: 20%;
   }

.thUnit {
  width: 70%;
     }
  
.thCompleted {
  width: 10%;
   }


     
// The divs that go in each th
// and the <p>s for the text 
// in the divs:

// the div:
.rankHead {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
          }
// the <p>:
.rankHeadText{
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 200;
  font-size: 16px;
  line-height: 16px;
  margin: 0px;
  padding: 0px;
                  }
// the div:
.unitHead {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
          }

// the <p>:
.unitHeadText{
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 200;
  font-size: 16px;
  line-height: 16px;
  margin: 0px;
  padding: 0px;

             }

// the div:
.completedHead {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
               }

// the <p>:
.completedHeadText{
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 200;
  font-size: 13px;
  line-height: 13px;
  margin: 0px;
  padding: 0px;
                  }


// The divs inside the tds:
.tdDiv {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;

  padding-top: 5px;
  padding-bottom: 5px;

               }

 
// the <p>s inside the divs 
// inside the tds:
.tdDiv p {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 200;
  font-size: 16x;
  line-height: 16px;
  margin: 0px;
  padding: 0px;
                  }

    
// The imgs for the gold, silver 
// and bronze stars:
.starImg{
width: 30px;
height: 30px;
}


tr:nth-child(even) {
  background-color: $guidesLightBlue;
}

tr {
  height: 40px;
  border-bottom: 5px dotted $girlGuidingDarkBlue;
  padding: 8px;
  text-align: center;
}



// ------- End styles to do with the leader board page -------  -------  ------- 



/* -------- styles for the completed-challenges page -------------- */ 
.completedPageOuterContainer{


  position: absolute;
  left: 0px;
  top: 0px;
  
  height: 93vh;
  width: 100vw;

border-style: solid;
border-color: $browniesLightBlue;
border-width: 5px;

/*
padding-top: 10px;
padding-left: 10px;
padding-right: 10px;
padding-bottom: 20px;
*/
overflow-y:scroll;

                          }


// The div that contains text "My completed challenges"
// and the div that contains the table of completed challenges:
.completedPageMainContainer{
  padding: 0;
  margin: 0;

  display: block;
  height: 100%;
  width: 100%;

  position: relative;
  // border: red 2px solid;
                          }



//----------------------------------


// Styles to do with the modal window in which the 
// user registers:


// override the margin and max-width settings
// of the modal box:
.custom-modal{

margin: 10px !important;
max-width: 95vw !important;

             }




// The div that holds the circular numbers
// and the instruction next to each number:
.registerModalGrid{

display: grid;
grid-template-columns: 10% 90%;
grid-template-rows: 37% 15% 15% 15%;
row-gap: 5%;

width: 100%;
height: 160px;

// background-color: rgb(237, 132, 132);

margin-top: 10px;
margin-bottom: 50px;
                  }


// The div that is the circular number container:
.numberCircle{
  position: relative;
  top: 0px;  

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
  width: 20px;
  height: 20px;
  
  border-radius: 50%;

  box-shadow: rgb(103, 103, 103) 1px 2px 3px;

  z-index: 10;
}

// For the dark circled numbers
.numbCircleDark{
  background-color: $girlGuidingMidBlue;
               }

// For the light circled numbers
.numbCircleLight{
  background-color: $girlGuidingMidBlue;
  opacity: 0.5;
               }




// The <p> for the text of the number 
// that goes in the number circle:
.numberCircleText{
  font-family: 'Poppins'  !important;
  font-style: normal  !important;
  font-weight: 400  !important;
  font-size: 15px;
  line-height: 16px;

  margin: 0px;
  padding: 0px;

  color: rgb(235, 227, 227) !important;

                 }

// The container for the down arrow
.downArrowContainer{

width: 100%;
height: 40px;

display: flex;
flex-direction: row;
justify-content: center;
align-items: center;

position: relative;

top: -50px;

margin-top: 0px;

// border: 2px solid black;

                  }


// The img that is the blue down arrow:
.blueDownArrowIMG{
position: relative;
top: 0px;
width: 100%;
height: 100%;

// border: 2px solid rgb(235, 91, 91);
                 }

// For the email and team name inputs:
.formInputs{
position: relative !important;
top: -20px;

           }


// override the react bootstrap style
// for the form (which includes the 
// three input fields, the Register
// button and the Cancel button:
.mt-n2{
  position: relative !important;
top: -30px !important;
z-index: 0;
margin-bottom: 0px;
// border: #000 2px solid;
}           


// override the text at the bottom of the
// modal (that reads "Already registered? ..."):
.mt-3{
position: relative !important;
top: -30px !important;
z-index: 0 !important;
     }

// The div that contains the Register and Cancel
// buttons in Register screen of the Login/Register modal:
.modalButtonContainer{
  width: 100%;
  height: 30px;
  
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  
  /*
  border-style: solid;
  border-width: 2px;
   border-color: #070707;
  */
  
                      }
  



//----------------------------------




.showLogoutModal{
z-index: 10;
                }










// There are two media queries:
// 1) @media screen and (orientation: portrait) {// stuff here }
// 2) @media screen and (orientation: landscape) {// stuff here }
// Under each are styles for each page in turn.


//------------------------------------------------------------------------------------------------------------------------
// PORTRAIT MEDIA QUERY
//------------------------------------------------------------------------------------------------------------------------

// When phone is held in portrait position:
@media screen and (orientation: portrait) {


/* -------- styles for the landing page -------------- */ 

.landingPageOuterContainer{
  height: 100vh;
  width: 100vw;

  position: fixed;

  background-color: none;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  border: 8px solid $rainbowsBlue;
  
                        }


 .landingPageFirstContainer{

  // We're in portrait media query!!!

  height: 17vh;
    width: 100%;
position: relative;

/*
    border-style: dotted;
    border-width: 5px;
     border-color: #f82403;  
    */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  align-items: center;
                          }


/* The div that contains the main logo img */
.landingPageGGSContainer{

  // We're in portrait media query!!!!
  
    height: 100%;
    width: 100%;
  
    position: relative;
      
    /* 
    border-style: dashed;
    border-width: 5px;
    border-color: #143109; 
    */ 
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;

    padding: 5px;
    
                              }
  
// The div that contains the text "Welcome"
// when the phone is in the landscape 
// position. The app must not show this div 
// when the phone is in the portrait position:
.landingPageWelcomeTextContainerLandscape{

// We're in portrait media query!!!!
display: none;
                                         }




/*
div containing two other divs:
className = "landingPageSecondContainer"
className = "landingPageThirdContainer"
*/
.landingPageSecondAndThirdContainer{
  // We're in portrait media query!!!
  position: relative;
  
  height: 83vh;
  width: 100vw;

/*  
  border-style: dotted;
  border-width: 2px;
  border-color: #f32809;
*/  
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
/**/


                          }



/*div containing:
i)    a div containing the Welcome text
ii)   a div containing the main image
iii)  a div containing the login/out button, 
      the How to register button and the "or"
      text that goes in between those buttons
*/
.landingPageSecondContainer{
    // We're in portrait media query!!!
  
  position: relative;

    height: 47%;
  width: 100%;
/*
  border-style: dotted;
  border-width: 3px;
  border-color: #26308b;
*/
  display: flex;
  flex-direction: column;
  justify-content: space-around;
align-items: flex-start;

margin-top: 1%;
margin-bottom: 20px;

                          }

  .landingPageDigitalSafariContainer{

// We're in portrait media query!!!!

    position: absolute;
    left: 0px;
    top: 0px;

    height: 100%;
      width: 95%;
      position: relative;

      border-style: solid;
      border-width: 2px;
      // border-color: #6c5709;  

      box-shadow: 5px 5px 12px rgba(0, 0, 0, 0.15);

      margin: auto;
     
                              }




// Div containing the "Welcome" text:
.landingPageWelcomeTextContainer{

// We're in portrait media query!!!!

    position: absolute;
    top: 5px;
    left: 0px;
    
    height: 28%;
    width: 95%;
/*
    border-style: solid;
    border-width: 3px;
    border-color: #efe30e;  
*/
    padding: 0px;

    z-index: 2;

    margin-left: 10px;

                              }

.welcomeText{
// We're in portrait media query!!!

  font-size: 52px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 100;
  line-height: 53px;
  // color: $girlGuidingDarkBlue;
  // color: white;
  color: #f3ea4c;
  // color: #CECEC9C94848;
  text-shadow: 2px 4px 10px rgba(255,255,255,1);
  // text-shadow: 2px 4px 4px $girlGuidingDarkBlue;

  margin-left: 10px;
                    }


/* The "Digital Safari" logo (an img) */
.digitalSafariImg{

// We're in portrait media query!!!

  width:  100%;
  height: 100%;
  
                 }





/*div containing the buttons that take you 
to the other pages */
.landingPageThirdContainer{
      
  
  // We're in portrait media query!!!
  height: 45%;
  width: 100%;

position: relative;

  /*
  border-style: solid;
  border-width: 3px;
  border-color: #438b26;
  */

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;

  padding-left: 10px;

                          }

// A div that contains the buttons of 
// the landing page:
.landingPageButtonsContainer{
      // We're in portrait media query!!!

  position: absolute;
  left: 0px;
  top: 0px;

  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;

  padding: 10px;
                            }


// Styles for the button that app testers
// tap on the landing page to take them to the page where 
// the link is for the form:
// This style simply positions the big brown button
// on the landing page
// Dump this after field testing is over:
.surveyFormButtonLandingPage{
  position: absolute;
  bottom: 45px;
  right: 5px;
  margin: 1px;
  width: 230px;
  height: 70px;
                            }







/* The main logo (an img of text "Guides") */
.landingPageTextImage{
  
// We're in portrait media query!!!

  position: relative;
  top: 0px;
  right: 0px;  

  width:  100%;
  height: 100%;

  overflow: hidden
  
                     }


// Div that contains the login/out button
// and the login and learn-to-register
// buttons:
.loginOrRegisterContainer{
// We're in portrait media query!!!
  position: absolute;
  left: 10px;
  bottom: 0px;
  
  /*        
        border-style: solid;
        border-width: 1px;
        border-color: #a78610;  
    */
  width: 70%;
  height: 20%;      
  
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;

  margin-left: 10px;
                           } 
  



//****************************
// Styles for the user guide page
// Remember we are in media queries here!!!
// There is another style of the same name!!!

.userGuidePageOuterContainer{

  // We're in portrait media query!!!
  position: absolute;
  left: 0px;
  top: 0px;

height: 93vh;
width: 100vw;

border-style: solid;
border-color: $browniesLightBlue;
border-width: 5px;

padding-top: 10px;
padding-left: 10px;
padding-right: 10px;
padding-bottom: 20px;

overflow-y:scroll;
                        }

// For the div that contains the header text
.userGuidePageHeaderContainer{
height: 7vh;

border-bottom:$girlGuidingDarkBlue;
border-top: #fff;
border-left: #fff;
border-right: #fff;
border-style: solid;
border-width: 2px;

margin-bottom: 10px;
                              }



// For a div that contains the grid 
// that contains the instruction headers 
// and instruction texts
.userGuidePageContainerOne{
  display: grid;
  grid-template-columns: 100% ;
                          } 
  
// For the <span> element that 
// styles page names in the user guide page:
.userGuidePagePageNames{
color: $girlGuidingMidBlue;
font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
                       }





//***************************
// Styles concerning the How-to-complete-challenges page

// For the all-enclosing div:
.howToPageOuterContainer{
  position: absolute;
  left: 0px;
  top: 0px;

  height: 90vh;
  width: 100vw;
  
  border-style: solid;
  border-color: $browniesLightBlue;
  border-width: 5px;
  
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 20px;
  
  overflow-y:scroll;
                          }
  


// For the div that contains the header text
.howToPageHeaderContainer{
  height: 14vh;
  
  border-bottom:$girlGuidingDarkBlue;
  border-top: #fff;
  border-left: #fff;
  border-right: #fff;
  border-style: solid;
  border-width: 2px;
  
  margin-bottom: 20px;
                                }


// The grid container.
// NOTE: this is exactly the same as for the style for the equivalent 
// div in the user-guide page:
.howToPageContainerOne{
  display: grid;
  grid-template-columns: 100% ;
                      }                                
  

    
                            
  
//***************************

                        } // end media query for when phone is in portrait orientation
                        
                        
//-----------------------------------------------------------------------------------------------------------------------------
// LANDSCAPE MEDIA QUERY
//-----------------------------------------------------------------------------------------------------------------------------

// media query or when phone is in landscape orientation:
@media screen and (orientation: landscape) {

// styles for the landing page:

.landingPageOuterContainer{
  height: 100vh;
  width: 100vw;

  position: fixed;

  background-color: none;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  border: 8px solid $rainbowsBlue;
  
                        }




 .landingPageFirstContainer{

// We're in the landscape media query!!!  
  height: 25%;
    width: 100%;

    position: relative;

    /*
    border-style: dotted;
    border-width: 3px;
     border-color: #3ae8ee;  
     */

    display: flex;
    flex-direction: column;
    justify-content: space-between;
  align-items: flex-end;
                          }


/* The div that contains the main logo img */
.landingPageGGSContainer{

  // We're in landscape media query!!!!
  
    height: 100%;
      width: 50%;
  
      position: relative;
      
      /*
      border-style: dotted;
      border-width: 5px;
      border-color: #54ed17; 
      */
    
      display: flex;
      flex-direction: column;
      justify-content: center;
    align-items: flex-end;
    z-index: 2;
       
                              }
  
  
  /* The img that is the main logo 
  ("Girlguiding Scotland") */
  .landingPageTextImage{
    
    // We're in landscape media query!!!!
    position: absolute;
    top: 6px;
    right: 10px;
  
    width:  95%;
    height: 95%;
  
    overflow: hidden
    
                       }

// This is the div that contains the text "Welcome".
// If the phone is held in the portrait position
// a media query gives this style the attribute 
// display: none   :
.landingPageWelcomeTextContainerLandscape{
// We're in the landscape media query!!!!
position: absolute;
top: 0px;
left: 0px;

height: 100%;
  width: 50%;

  /*
  border-style: dotted;
  border-width: 3px;
  border-color: #0b0e15;  
*/
  
  /*
  display: flex;
  flex-direction: row;
  justify-content: space-between;
align-items: flex-start;
*/


}

// The <p> that is text "Welcome"
// when the phone is in the 
// landscape position:
.landingPageWelcomeTextLandscape{

// We're in the landscape media query!!!!
  
    font-size: 65px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 100;
    color: $girlGuidingDarkBlue;

    padding-left: 10px;

                                }





/*
div containing two other divs:
className = "landingPageSecondContainer"
className = "landingPageThirdContainer"
*/

.landingPageSecondAndThirdContainer{
  // We're in landscape media query!!!!
  
  height: 55%;
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
align-items: flex-start;

                          }



/*div containing xxx*/
.landingPageSecondContainer{

  // We're in landscape media query!!!!

position: relative;

  height: 100%;
  width: 65%;
/*
  border-style: solid;
  border-width: 2px;
  border-color: #26308b;
*/
  display: flex;
  flex-direction: column;
  justify-content: space-around;
align-items: flex-start;

margin-top: 1%;

                          }


// the div that contains the main image img:
  .landingPageDigitalSafariContainer{

// We're in landscape media query!!!!

    position: absolute;
    left: 0px;
    top: 0px;

    height: 100%;
      width: 95%;
      position: relative;

      border-style: solid;
      border-width: 2px;
      // border-color: #6c5709;  

      box-shadow: 5px 5px 12px rgba(0, 0, 0, 0.15);

      margin: auto;

      overflow: hidden;

     
                              }

/* The "Digital Safari" logo (an img) */
.digitalSafariImg{
  position: absolute;
  left: 0px;
  top: -40px;

  // We're in landscape media query!!!
  
    width:  100%;
    height: 119%;
    
                   }




// Div that contains the login/out button
// and the login and learn-to-register
// buttons:
.loginOrRegisterContainer{
  // We're in landscape media query!!!
    position: absolute;
    left: 10px;
    bottom: 0px;
    
    /*        
          border-style: solid;
          border-width: 1px;
          border-color: #a78610;  
      */
    width: 70%;
    height: 20%;      
    
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
  
    margin-left: 10px;
                             } 
    
  


/*div containing xxx*/
.landingPageThirdContainer{

  // We're in landscape media query!!!!

  position: relative;
  top: 10px;

  height: 100%;
  width: 43%;

  /* 
  border-style: solid;
  border-width: 2px;
  border-color: #26308b;
*/

                          }


// A div that contains the buttons of 
// the landing page:
.landingPageButtonsContainer{
  // We're in landscape media query!!!

position: absolute;
left: 0px;
top: 0px;

width: 100%;
height: 80%;

display: flex;
flex-direction: column;
justify-content: space-around;
align-items: flex-start;

padding: 10px;
                        }


// Styles for the button that app testers
// tap on the landing page to take them to the page where 
// the link is for the form:
// This style simply positions the big brown button
// on the landing page
// Dump this after field testing is over:
.surveyFormButtonLandingPage{

    // We're in landscape media query!!!
  position: absolute;
  bottom: -3px;
  right: 5px;
  margin: 1px;
  width: 95%;
  height: 57px;
                            }






// This has got to be hidden and must take up no space:                     
  .landingPageWelcomeTextContainer{

// We're in the landscape media query!!!!
    position: absolute;
    top: 0px;
    left: 0px;
    
    height: 35%;
      width: 100%;

      border-style: solid;
      border-width: 3px;
      border-color: #7e9fe7;  
      
      
      display: none;
      /*
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    align-items: flex-start;
    */
                              }





//****************************
// Styles for the user-guide page

.userGuidePageOuterContainer{
  height: 97vh;
  width: 100vw;
  
  border-style: solid;
  border-color: $browniesLightBlue;
  border-width: 5px;
  
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 20px;
  
  overflow-y:scroll;
                          }
  

// For the div that contains the 
// <p> for the page header text 
.userGuidePageHeaderContainer{
height: 12vh;

border-bottom:$girlGuidingDarkBlue;
border-top: #fff;
border-left: #fff;
border-right: #fff;
border-style: solid;
border-width: 2px;

margin-bottom: 10px;
                              }



// For a div that contains the grid 
// that contains the instruction headers 
// and instruction texts
.userGuidePageContainerOne{
display: grid;
grid-template-columns: 31% 31% 31% ;
grid-column-gap: 2%;
  
                          } 


//**************************
// Styles for the how-to-complete-challenges page;

// For the outermost div:
.howToPageOuterContainer{
  height: 90vh;
  width: 100vw;
  
  border-style: solid;
  border-color: $browniesLightBlue;
  border-width: 5px;
  
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 20px;
  
  overflow-y:scroll;
                          }
  
// For the div that contains the header text
// NOTE: this is exactly the same as for the style for the equivalent 
// div in the user-guide page.
.howToPageHeaderContainer{
  height: 12vh;

  border-bottom:$girlGuidingDarkBlue;
  border-top: #fff;
  border-left: #fff;
  border-right: #fff;
  border-style: solid;
  border-width: 2px;
  
  margin-bottom: 10px;
                                }


// The grid container.
// NOTE: this is exactly the same as for the style for the equivalent 
// div in the user-guide page:
.howToPageContainerOne{
  display: grid;
  grid-template-columns: 31% 31% 31% ;
grid-column-gap: 2%;
                      }         


} // end landscape media query for when phone is in  orientation
//---------------------------------------------------------------------------------------------------------                        
// END LANDSCAPE MEDIA QUERY
//---------------------------------------------------------------------------------------------------------








//  ------------- Styles to do with the landing page ------------- ------------- -------------
//                (not already covered in media queries)

  
  .landingPageWelcomeContainer{
    height: 33%;
      width: 100%;
/*
      border-style: solid;
      border-width: 2px;
      border-color: #86db41;  
*/    
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
    align-items: center;
                              }



// for the text that reads 
// "or" and that goes between the login and
// register buttons:
.loginRegisterP{
  font-size: 20px;
  line-height: 20px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  
  // color: $girlGuidingDarkBlue;
  color: white;


  padding: 0px;
  margin: 5px;

  text-shadow: 2px 4px 4px $girlGuidingDarkBlue;

               }

// To make the text that reads 
// "or" that goes between the login and
// register buttons disappear:
.loginRegisterPdisappear{
  opacity: 0;
                        }





  
.welcomeImgContainer{
  height: 45%;
    width: 100vw;
  
    border-style: solid;
    border-width: 1px;
    border-color: $girlGuidingDarkBlue;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
  align-items: center;
                    }

/* the big image on the landing page */
.welcomeImg{
width: 120%;
height: 100%;

opacity: 0.2;

}




/*The following styles are for the five divs of <LandingPage/> 
that each contain an icon and a button */


/*style for these divs when the page buttons are operable */

.landingPageIconAndButtonContainer{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  height: 18%;
  width: 100%;
                                  }

/*style for these divs when the page buttons are inoperable */

.landingPageIconAndButtonContainerFaded{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  height: 18%;
  width: 100%;
  opacity: 0.3;
                                  }


/*the containing div of the square buttons  */
.landingPageIconContainer{
  margin-right: 2vh;

  height: 28px;
  width: 28px;

    border: $guidesLightBlue 1.5px outset;
    border-radius: 5px 5px 5px 5px;
    
    background-color: $girlGuidingLightBlue;
    box-shadow: rgb(5, 5, 5) 1px 1px 5px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
align-items: center;

}





/* ------------------------ */



/* ----- styles for the navigation bar----- */


// the outer div for <NavigationBar/>
.navbarContainer{
  height: 55px;
  width: 100vw;

/*
  border-style: solid;
  border-width: 1px;
  border-color: $girlGuidingDarkBlue;
*/
  background-color: $girlGuidingLightBlue;

position: fixed;
  bottom: 0;

overflow-x: visible;

z-index: 20;
                }

.homeIconContainer{
  height: 10vh;
  width: 17vw;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
align-items: center;

position: absolute;

top: 0px;
left: 90px;
                  }


/* -------------- styles to do with the plus menu  -------------- */


// The div that contains the plus icon:
.plusIconContainer{
  height: 50px;
  width: 50px;
  
    border: $guidesLightBlue 1.5px outset;
    border-radius: 5px 5px 5px 5px;
    
    background-color: $girlGuidingLightBlue;
    box-shadow: rgb(5, 5, 5) 1px 1px 5px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
                  }


/* 
NOTE: THIS STYLE SHEET HAS TO BE LOWER
(IE LATER) IN THIS DOCUMENT THAN THE 
STYLESHEETS showPlusMenu AND
hidePlusMenu.
The div that contains all five icons 
(ie the plus icon and the other four. Its 
size grows or shrinks with each click of 
the plus icon) 
*/
.plusMenuOuterContainer{
    
  border: $guidesLightBlue 1.5px outset;
  border-radius: 5px 5px 5px 5px;
  background-color: $girlGuidingLightBlue;
  box-shadow: rgb(5, 5, 5) 1px 1px 5px;

display: flex;
flex-direction: column;
justify-content: space-between;
align-items: center;

position: absolute;

height: 52px;
width: 52px;
right: 0px;
                    }

// This class positions the 
// plus menu in its collapsed state
// when the app loads:
.plusMenuOnAppLoad{
  top: 0px;
            }

// Code adds this class to the 
// div that contains the plus 
// icon and the other four icons 
// when code wants to show the div:
.showPlusMenu{
/*height: 290px;*/

animation-name: makePlusMenuGrow;
animation-duration: 0.3s;
animation-fill-mode: forwards;
animation-timing-function: ease-in-out;

             }

// when code wants to hide the div:
.hidePlusMenu{
  /*height: "100%";*/
  animation-name: makePlusMenuShrink;
  animation-duration: 0.3s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
            }

// Two animations for the dropdown list,
// one for the downward movement, one for the
// upward movement:
@keyframes makePlusMenuGrow {
  0% {
    height: 50px;
    top: 0px;
     }

  80% {
    height: 330px;
    top: -280px;
      }

  100% {
    height: 290px;
    top: -240px;
       }
                            }

@keyframes makePlusMenuShrink {
  0% {
    top: -240px;
    height: 50px;
     }

  100% {
    top: 0px;
    height: 100%;
       }
                              }






/* 
On all pages except the 
welcome/home/landing page 
code conditionally applies 
either class showIconContainer 
or class hideIconContainer to 
the four divs that contain 
each of the four icons that 
take the user to another page. 
Clicking the plus icon either 
gives all of those four 
containing divs class 
showIconContainer or class 
hideIconContainer.
*/
.showIconContainer{
  height: 50px;
  width: 50px;

  
  border: $guidesLightBlue 1.5px outset;
  border-radius: 5px 5px 5px 5px;
    
  background-color: $girlGuidingLightBlue;
  box-shadow: rgb(5, 5, 5) 1px 1px 5px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  animation-name: rotatePlusMenuItems;
  animation-duration: 0.7s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;

                  }



.hideIconContainer{
  height: 0px;
  width: 0px;
  border-width: 0px ;
                  }



// Animations for the items in
// the plus menu:
@keyframes rotatePlusMenuItems {
  0% {
      transform: rotateX(120deg);
      // transform: rotateY(30deg)
     }
  70% {
      transform: rotateX(-30deg);
      // transform: rotateY(-13deg)
      } 
  100% {
      transform: rotateX(0deg) ;
      // transform: rotateY(0deg) 
       }
                              }






/* -------------- Styles to do with the How to page  -------------- */

.howToPageHeader{
  font-size: 28px;
  line-height: 30px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  color: $girlGuidingDarkBlue;
}



.howToPageSectionHeader{
  font-size: 20px;
  line-height: 22px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
 color: $browniesLightBlue;

                  }



.howToPageBodyText{
  font-size: 14px;
  line-height: 15px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 200;
  color: black;

                  }
/* -------------- End styles to do with the How to page  -------------- */




/* -------------- Styles to do with the User guide page  -------------- */


.userGuidePageHeader{
  font-size: 28px;
  line-height: 30px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  color: $girlGuidingDarkBlue;
  
}

.userGuidePageHeaderRule{
  // width: 100vw;
  height: 2px;
  
  background-color:$girlGuidingDarkBlue;
  
  }
  

.userGuidePageSectionHeader{
  font-size: 20px;
  line-height: 22px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  color: $browniesLightBlue;

                  }



.userGuidePageBodyText{
  font-size: 14px;
  line-height: 15px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 200;
  color: black;

                  }



/* -------------- End styles to do with the User guide page  -------------- */



//------------------------------------------------------------------------------------------------
// Styles to do with the page that contains the link
// to the survey form for testers


                            
// This is for the button that takes the user 
// back to the home page from the form-link page.
// Dump this after field testing is over
.surveyFormButtonFormLinkPage{
  position: relative;
  top: -15px;
  left: 0px;
  width: 350px;
  height: 50px;
  padding: 5px;
                            }

// This is the big brown button on the landing page.
// Dump this after field testing is over
.surveyFormButton{
    
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
  padding-left: 3px;
  padding-right: 3px;
  
  border: rgb(232, 143, 143) 1.5px outset ;
  border-radius: 5px 5px 5px 5px ;
  
  background-color: rgb(136, 44, 44);
  box-shadow: rgb(5, 5, 5) 1px 1px 5px;
  
  opacity: 1;
  pointer-events: auto;
                }


.surveyFormButtonInoperable{
    
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
  padding-left: 3px;
  padding-right: 3px;
  
  border: rgb(232, 143, 143) 1.5px outset ;
  border-radius: 5px 5px 5px 5px ;
  
  background-color: rgb(136, 44, 44);
  box-shadow: rgb(5, 5, 5) 1px 1px 5px;
  
  opacity: 0;
  pointer-events: none;
                }







.surveyFormButton:hover{ 
  background-color: rgb(186, 140, 140);
                }  


/*Now a class code gives to buttons 
when the user clicks them */
.surveyFormButton:active{   
  transform: translateY(4px);
  transform: translateX(4px);
  box-shadow: black 1px 1px 1px;
                        } 

// The <p> for the text of
// the surveyFormButton:
.surveyFormButtonP{

font-family: Verdana, Geneva, Tahoma, sans-serif;
font-size: 16px;
line-height: 17px;
color: #f0cfcf;

padding: 0px;
margin: 0px;

                  }



// The all-encompassing div:
.FormLinkPageOuterContainer{
  position: absolute;
  left: 0px;
  top: 0px;
  

  height: 100vh;
  width: 100vw;

border-style: solid;
border-color: $browniesLightBlue;
border-width: 5px;

padding-top: 10px;
padding-left: 2px;
padding-right: 2px;
padding-bottom: 20px;

overflow-y:scroll;
   background-color: none;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
align-items: center;

/*
border-style: dotted;
 border-width: 6px;
  border-color: #06f3b8;  
*/
}


// The <p> for the text on the FormLinkPage.
.FormLinkPageP1{

font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
font-size: 26px;
line-height: 27px;

padding: 0px;
margin: 15px;

position: relative;
top: -20px;
              }


// The iFrame on the FormLinkPage:
.iFrameClass{
  width: 95vw; 
  height: 65vh; 
  border: 3px solid rgb(240, 64, 64); 
  max-width:500px; 
  max-height:600px; 
  position: relative;
  top: -20px;
                }





//------------------------------------------------------------------------------------------------













// COLOUR OVERRIDES
// Mukund: these sass variables override the sass 
// variables supplied by react-bootstrap that are found in
// node_modules/bootstrap/scss/_variables

$teal: #009cac;
$pink: #c40063;
$mutedPink: #ce74a1;
// theme colours
$primary: $teal;
// $primary: #c41700;
$secondary: $pink;
$muted-secondary: $mutedPink;


$newSecondary: $browniesBlue;
$newMuted-secondary: $browniesLightBlue;


// scss-docs-start gray-color-variables
$white: #fff;
$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #6c757d;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #212529;
$black: #000;
// scss-docs-end gray-color-variables

// BOOTSTRAP 5 BSPREFIXES START
// Buttons

// The following style overrides
// react bootstrap's <Button/>
// style when setting <Button/>
// attribute variant to "custom" -- Mukund 
.btn-customGGS{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
          
  
  width: fit-content;
  height: 25px;
  padding-left: 3px;
  padding-right: 3px;
  
  border: $guidesLightBlue 1.5px outset !important;
  border-radius: 5px 5px 5px 5px ;
  
  // NOTE: without the "!important" below the 
  // something was overriding the <Button/> 
  // background colour to white (I don't know what!)
  // -- same with border colour above.
  background-color: $girlGuidingLightBlue !important;
  box-shadow: rgb(5, 5, 5) 1px 1px 5px;
  
  opacity: 1;
  pointer-events: auto;
            }


.btn-branding {
  background-color: $newSecondary;
  color: $white;
  border-radius: 5px;
  border-style: none;
  padding: 0.4rem;
  font-weight: bold;
}

.btn-branding-enabled {
  background-color: $newSecondary;
}

.btn-branding-disabled {
  background-color: $newMuted-secondary;
}

.btn-leaderboard {
  position: relative;
  top: 85%;
  left: 26%;
  border-radius: 5px;
  border-style: solid;
  border-width: 0.2rem;
  border-color: $newSecondary;
  background-color: $white;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  color: $newSecondary;
  font-weight: bold;
  @media screen and (min-width: 360px) {
    top: 93%;
    left: 31%;
  }
  @media screen and (min-width: 393px) {
    top: 94%;
    left: 31%;
  }
  @media screen and (min-width: 480px) {
    top: 95%;
    left: 40%;
  }
  @media screen and (min-width: 1080px) {
    top: 93%;
    left: 41%;
  }
  @media screen and (min-width: 1280px) {
    top: 93%;
    left: 45%;
  }
  @media screen and (min-width: 1440px) {
    top: 94%;
    left: 45%;
  }
}
.btn-leaderboard:active {
  background-color: $newSecondary;
  color: $white;
  border-color: $white;
}

// FEEDBACK FORMATTING
.feedback-branding {
  color: rgb(224, 82, 82);
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 200;
  font-size: 14px;
  line-height: 17px;
}

// BOOTSTRAP 5 BSPREFIXES END

// BOOTSTRAP 5 CUSTOMISATIONS
// Contains overrides for Bootstrap classes, and custom classes that use Bootstrap variables

// Containers
.container-fluid {
  padding: 0;
  margin: 0;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  height: 100vh;
  width: 100vw;

}

// Modals
.closer-color {
  color: $primary;
  border-radius: 5px;
  border-width: 2px;
  border-color: $primary;
}

.btn-outline-primary {
  border-width: revert !important;
}

.custom-modal {
  margin-top: 1.2rem;
  margin-left: 0.5rem;
  max-height: 95vh;
  max-width: 90vw;
  @media screen and (min-width: 241px) {
    overflow-x: visible !important; // This allows close buttons to position and display beyond the modal border
    overflow-y: visible !important; // This allows close buttons to position and display beyond the modal border
    margin-top: 3rem;
  }
}

.location-modal {
  @media screen and (min-width: 480px) {
    max-width: 95vw;
  }
}

.logout-modal {
  max-width: 90vw;
  h1 {
    color: $browniesLightBlue;
    font-family: 'Poppins';
    font-style: italic;
    font-weight: 700;
    font-size: 28px;  
  }
  p {
    color: black;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 200;
    font-size: 14px;    
  }
}

.login-modal {
  h1 {
    color: $browniesLightBlue;
    font-family: 'Poppins';
    font-style: italic;
    font-weight: 700;
    font-size: 26px;    
    margin: 0px;
    padding: 0px;
    }

p {
  color: black;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 200;
  font-size: 14px;
  line-height: 18px;    
  margin-bottom: 0px;
  padding: 0px;
  text-align: left;
}

  .switch-mode {
    color: $browniesLightBlue;
    font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
    cursor: pointer;
  }
}


.error-text {
  color: $secondary;
}

// For the div that contains the 
// <p> that is the text for the 
// place name:
.place-name-container {
  font-weight: bold;
  text-align: center;
  margin-bottom: 0.1rem;
}


// For the <p> of the text for the
// name of the location:
.place-name-text{
  color: $girlGuidingLightBlue;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 31px;
                }

// For the div that contains the 
// <p> that is the text for the 
// city name:
.city-name-container {
  text-align: center;
  margin-bottom: 0.5rem;
                     } 


// For the <p> of the text for the
// name of the location:
.city-name-text {
  color: $browniesBlue;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 21px;
               }

.modal-body .scroll-container {
  display: flex;
  flex-direction: column;
  max-height: calc(100vh - 333px);
}

.modal-body .scroll {
  overflow-x: hidden;
  overflow-y: auto;
}





// For the <div> that contains 
// the <p> that is the text that 
// describes the location (in 
// <LocationModal/>:
.description-container {
  margin: 1rem 0;
}

// For the <p> that is the text that 
// describes the location (in 
// <LocationModal/>:
.description-text {
  color: black;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 19px;
}


// The div that has a border and that 
// contains the challenge header 
// (which reads "Challenge")
// and challenge description:
.challenge-container {
  border: 4px $girlGuidingLightBlue solid;
  border-radius: 8px;
  padding: 10px;
  display: flex;
  flex-direction: column;
}

// The challenge header 
// (which reads "Challenge"):
.challenge-container h2 {
  color: $girlGuidingLightBlue;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 26px;  
  text-align: center;
  margin-bottom: 10px;
                        }

// For the <div> that contains the 
// <p> that is the text that describes
// the challenge:
.challenge-content-container {
  text-align: center;
  overflow-y: scroll;
                             }

// For <p> that is the text 
// that describes the challenge:
.challenge-content-text{
  font-family: 'Poppins';
  font-style: italic;
  font-weight: 200;
  font-size: 15px;
  line-height: 16px;  
                       }


// For the div that contains: 
// i)    the div that contains the bonus challenge header <p>
// ii)   the div that contains the bonus challenge content text <p>
.bonus-challenge-overall-container{
width: 95%;

height: fit-content;

border-top: #929191 1px dotted;
border-bottom: #929191 1px dotted;

padding: 0px;

}

// For the <div> that contains the 
// <p> that is the bonus challenge
// header:
.bonus-challenge-header-container {
  text-align: left;
  padding: 5px;
  margin: 0px;
                                  }

// For <p> that is the text 
// of the bonus challenge header:
.bonus-challenge-header-text{
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 26px;
  
  color: #bab6b6;
                       }



// For the <div> that contains the 
// <p> that is the text that describes
// the bonus challenge:
.bonus-challenge-content-container {
  text-align: left;
  padding: 5px;
  margin: 0px;
  position: relative;
  top: -20px;
                                   }

// For <p> that is the text 
// that describes the challenge:
.bonus-challenge-content-text{
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 200;
  font-size: 15px;
  line-height: 16px;  
  color: #a7a5a5;
                       }

// The div that contains the
// <p> for the text of the 
// error message "Please turn on ..."
.error-message-container{
border-top: 2px solid rgb(227, 147, 147);
height: fit-content;
width: 95%;

margin: 5px;
                        }


// For the img that contains the 
// image that goes with the error message:
.errorIMG{
width: 20px;
height:  20px;

margin: 0px;
        }

// For the <span> that encloses the img
// that contains the 
// image that goes with the error message:
.spanErrorIMG{
  width: 20px;
  height:  20px;
  
  margin: 0px;
          }
  








$enable-negative-margins: true;
@import "../../node_modules/bootstrap/scss/bootstrap.scss";
